body,html {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-family: "Liberation Serif", serif;
    box-sizing: border-box;
}

body {
    margin: 5% 10%;
}

img, svg {
    width: 100%; height: auto;
}

figure {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

th, td {
    border: 1px solid black;
}

td:only-child {
    display: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    empty-cells: hide;
}

.titlepage, .centered {
    text-align: center;
}

.abstract {
    padding: 0 20%;
}

body>section,body>header {
    width: 17cm;
    margin: 0 auto;
    padding: 0;
    display: block;
}

a {
    color: #307fc2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    text-align: justify;
    line-height: 120%;
}

section h1 {
    font-size: 18.2pt;
    font-family: "Liberation Sans", sans-serif;
    font-weight: bold;
    text-align: left;
    line-height: 125%;
    clear:both;
    padding-top: 2ex;
}

section section h1 {
    font-size: 16.1pt;
}

section section section h1 {
    font-size: 14.1pt;
}

section section section section h1 {
    font-size: 14pt;
    font-weight: normal;
}

p {
    padding: 0;
}

p.version {
    text-align: right;
    font-style: italic;
}

p.pictures-line {
    text-align: center;
}

p.pictures-line img {
    max-width: 100%;
    max-height: 10cm;
}

pre {
    background: #EEE;
    font-family: DejaVu Sans Mono, monospace;
}

li {
    margin: .2em 0;
}

th {
    background-color: #f0f0f0;
}

tr {
    background-color: #fafafa;
}


.floatright {
    float: right;
    padding-left: .2em;
}

.code {
    font-family: DejaVu Sans Mono, monospace;
}

.ui-text {
    font-family: Liberation Sans, sans-serif;
}

.inline-picture {
    max-height: 4ex;
    vertical-align: middle;
}